Repository GUDHI/gudhi-devel, pull requests merged in 2024-05, with the labels that each got.

#1042 Remove ambiguities from license/copyright in both documentation
  src/common/doc/footer.html
  src/common/doc/main_page.md
  src/python/doc/conf.py
  src/python/setup.py.in
Labels: doc

#1051 Python 3.8 is not available on macos-14 (latest), but ok on macos-13
  .github/workflows/pip-build-osx.yml
  .github/workflows/pip-packaging-osx.yml
Labels: CI

#1046 bibliography clean up
  biblio/bibliography.bib
  src/python/doc/clustering.rst
  src/python/gudhi/point_cloud/dtm.py
Labels: doc, 3.10.0

#1055 Fix for numpy 2.X
  src/python/gudhi/cubical_complex.pyx
  src/python/gudhi/off_utils.pyx
  src/python/gudhi/periodic_cubical_complex.pyx
Labels: bug, 3.10.0
